@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,800);

@import "bourbon/bourbon";
@import "neat/neat";

@import "controls";
@import "forms";
@import "text";
@import "colors";

$header-height: 79px;

body {
    background-color: $primary-tint;
    margin: 0 0 32px 0;
}

.header {
    @include box($background: false);

    background-color: $primary-shadow;
    color: $dark-texture;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .header-nav {
	@include outer-container;

	.logo {
	    padding: 18px $padding 18px $padding;
	    margin-top: 0;
	    margin-bottom: 0;
	}
    }
}

.content {
    @include outer-container;
    @include box;
    margin-top: $header-height;
}

.signup {
    @include connect-item;
}

.login {
    @include connect-item;
}

.connect {
    h2 {
	text-align: center;
    }

    label {
	@include form-element;

	span {
	    @include span-columns(3 of 6);
	    @include form-padding;
	    text-align: right;
	}

	input {
	    @include span-columns(3 of 6);
	    @include form-padding;
	    font-size: $base-font-size;
	    line-height: $base-font-size;
	}
    }

    button {
	@include control;
	display: block;
	float: right;

	margin: 8px;
    }

    .login-error {
	@include error;
    }

    .signup-error {
	@include error;
    }
}

.groups {
    @include span-columns(3);
    @include nav-list;
    font-size: $base-font-size;

    @include box-item(right);

    height: 100%;
    margin-top: 0;

    .loading {
	@include loader(48px);
    }

    &> li {
	@include box-item(bottom);
	background-color: $primary-tint;
	padding: $padding;

	.group-name {
	    font-weight: bold;
	}
    }

    button {
	@include control;
	margin-left: -$padding;
    }

    .group-editor {
	@include editor;

	input {
	    max-width: 190px;
	}
    }
}

.boards {
    @include nav-list;
    background-color: white;
    margin-left: -$padding;
    margin-right: -$padding;
    margin-top: $padding;

    &> li {
	@include box-item(bottom);
	padding: $padding $padding $padding ($padding * 3);
	font-size: $detail-font-size;
    }

    a {
	color: $primary-black;
	text-decoration: none;
    }

    a:visited {
	color: $primary-black;
    }

    .board-editor {
	@include editor;

	input {
	    max-width: 184px;
	    margin-left: -$padding;
	}
    }
}

.board {
    @include span-columns(9);
    font-size: $base-font-size;

    .board-title {
	color: $primary-shadow;
	margin-top: 4px;
	margin-bottom: 11px;
    }

    .loading {
	@include loader(64px);
    }
}

.leaderboard {
    @include span-columns(8 of 9);
    @include board-list;
    @include box;

    .store-teaser {
	padding: $padding;
	margin-top: $padding;
	margin-bottom: $padding;
	color: darken($primary-tint, 35%);
	text-align: center;
    }
}

.stores {
    @include span-columns(8 of 9);
    @include board-list;
    @include box;
}

.add-store {
    @include control;
}

.store {
    @include span-columns(9 of 9);
    @include box-item(bottom);
    padding: $padding;

    .store-name {
	@include span-columns(3 of 9);
	font-size: $detail-font-size;
    }

    .rating-graph {
	@include span-columns(3 of 9);
	&:before {
	    content: "Rating graph here";
	}
    }

    .rating {
	@include span-columns(1 of 9);

	font-size: $large-font-size;

	&:empty:before {
	    content: "--";
	}
    }

    .rating-option {
	@include span-columns(1 of 9);
	@include omega();

	@include control;

	font-size: $large-font-size;
	line-height: $large-font-size;
    }

    .store-editor {
	@include editor;
    }
}
