$primary: #7A60FF;
$primary-highlight: #BAADFF;
$primary-super-highlight: lighten($primary-highlight, 5%);
$primary-shadow: #3D307F;

$secondary: #FFEC60;
$secondary-highlight: #FFF5AC;
$secondary-super-highlight: lighten($secondary-highlight, 10%);
$secondary-ultra-highlight: lighten($secondary-highlight, 15%);
$secondary-shadow: #7F7630;