@import "bourbon/bourbon";
@import "colors";
@import "text";

@mixin box($background: true) {
    margin-top: 0;
    box-shadow: 2px 2px 4px 2px $shadow;

    @if $background == true {
	@include linear-gradient('20deg to left', $light-texture, $dark-texture);
    }
}

@mixin box-item($adjacent-side: none) {
    color: $primary-black;

    border-#{$adjacent_side}: 1px solid $primary-tint;

    &:last-child {
	border-#{$adjacent_side}: none;
    }
}

@mixin control {
    background: none;
    border: 1px solid $primary-tint;

    box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1);

    @include set-font;
    font-size: $base-font-size;
    padding: $padding;

    &:hover {
	box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.2);
    }

    &:active {
	box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1);
    }
}

@mixin connect-item {
    @include span-columns(6);
    @include box-item(right);
    padding: 0px 48px 24px 48px;
}

@mixin nav-list {
    list-style-type: none;
    padding: 0;
}

@mixin board-list {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 32px;
}
