@import "bourbon/bourbon";
@import "colors";
@import "text";

$padding: 6px;

@mixin box($background: true) {
    margin-top: 0;
    box-shadow: 2px 2px 4px 2px $shadow;

    @if $background == true {
	@include linear-gradient('20deg to left', $light-texture, $dark-texture);
    }
}

@mixin box-item($adjacent-side: none) {
    color: $primary-black;

    border-#{$adjacent_side}: 1px solid $primary-tint;

    &:last-child {
	border-#{$adjacent_side}: none;
    }
}

@mixin control {
    background: none;
    border: 1px solid $primary-tint;

    box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1);

    @include set-font;
    font-size: $base-font-size;
    padding: $padding;

    &:hover {
	box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.2);
    }

    &:active {
	box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1);
    }
}

@mixin error {
    padding: $padding;
    margin-bottom: $padding*3;

    background-color: $error-highlight;
    border: 1px solid $error-black;

    font-weight: bold;
    text-align: center;
    color: $error-black;
}

@mixin connect-item {
    @include span-columns(6);
    @include box-item(right);
    padding: 0px 48px 24px 48px;
}

@mixin nav-list {
    list-style-type: none;
    padding: 0;
}

@mixin board-list {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 32px;
}

@mixin image($image-url) {
    background-image: url($image-url);
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin editor {
    button {
	@include control;
	margin-left: $padding;

	vertical-align: middle;
	width: 36px;
	height: 36px;
	@include image("/static/images/glyphicons-207-ok-2.svg");
    }

    input {
	font-size: $detail-font-size;
    }

    div {
	@include error;
    }
}

@include keyframes(spin) {
    from {
	@include transform(rotate(0deg));
    }
    to {
	@include transform(rotate(360deg));
    }
}

@mixin loader($loader-size: 32px) {
    width: $loader-size;
    height: $loader-size;
    margin-left: auto;
    margin-right: auto;
    @include image("/static/images/glyphicons-82-refresh.svg");
    @include animation-name(spin);
    @include animation-duration(1s);
    @include animation-iteration-count(infinite);
    @include animation-timing-function(linear);
    @include transform-origin($loader-size / 2 $loader-size / 2);
}
