$base-font-size: 24px;

$detail-font-size: $base-font-size - 2px;
$large-font-size: $base-font-size + 8px;

@mixin set-font {
    font-family: 'Open Sans', sans-serif;
}

body {
    @include set-font;
}
