@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,800);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(360deg); } }

@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg); }

  to {
    -o-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(360deg); } }

body {
  font-family: 'Open Sans', sans-serif; }

body {
  font-family: 'Open Sans', sans-serif; }

body {
  background-color: #e8e8ec;
  margin: 0 0 32px 0; }

.header {
  margin-top: 0;
  box-shadow: 2px 2px 4px 2px rgba(70, 70, 70, 0.3);
  background-color: #37327f;
  color: #fffefe;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  .header .header-nav {
    *zoom: 1;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .header .header-nav:before, .header .header-nav:after {
      content: " ";
      display: table; }
    .header .header-nav:after {
      clear: both; }
    .header .header-nav .logo {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 23.23176%;
      padding: 18px 6px 18px 6px;
      margin-top: 0;
      margin-bottom: 0; }
      .header .header-nav .logo:last-child {
        margin-right: 0; }
    .header .header-nav .logout {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 14.70196%;
      margin-left: 59.70863%;
      padding: 26px 12px 0 6px;
      text-align: right;
      font-size: 24px;
      color: #fffefe;
      text-decoration: none; }
      .header .header-nav .logout:last-child {
        margin-right: 0; }
      .header .header-nav .logout:visited {
        color: #fffefe; }

.content {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  box-shadow: 2px 2px 4px 2px rgba(70, 70, 70, 0.3);
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #fffefe));
  background-image: -webkit-linear-gradient(20deg to left, white, #fffefe);
  background-image: linear-gradient(to ,white, #fffefe);
  margin-top: 79px; }
  .content:before, .content:after {
    content: " ";
    display: table; }
  .content:after {
    clear: both; }

.signup {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  color: #1f1c48;
  border-right: 1px solid #e8e8ec;
  padding: 0px 48px 24px 48px; }
  .signup:last-child {
    margin-right: 0; }
  .signup:last-child {
    border-right: none; }

.login {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  color: #1f1c48;
  border-right: 1px solid #e8e8ec;
  padding: 0px 48px 24px 48px; }
  .login:last-child {
    margin-right: 0; }
  .login:last-child {
    border-right: none; }

.connect h2 {
  text-align: center; }
.connect label {
  display: block;
  font-size: 24px; }
  .connect label span {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 47.58542%;
    margin-bottom: 16px;
    text-align: right; }
    .connect label span:last-child {
      margin-right: 0; }
  .connect label input {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 47.58542%;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 24px; }
    .connect label input:last-child {
      margin-right: 0; }
.connect button {
  background: none;
  border: 1px solid #e8e8ec;
  box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1);
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  padding: 6px;
  display: block;
  float: right;
  margin: 8px; }
  .connect button:hover {
    box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.2); }
  .connect button:active {
    box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1); }
.connect .login-error {
  padding: 6px;
  margin-bottom: 18px;
  background-color: #f28c8d;
  border: 1px solid #520a0c;
  font-weight: bold;
  text-align: center;
  color: #520a0c; }
.connect .signup-error {
  padding: 6px;
  margin-bottom: 18px;
  background-color: #f28c8d;
  border: 1px solid #520a0c;
  font-weight: bold;
  text-align: center;
  color: #520a0c; }

.groups {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  list-style-type: none;
  padding: 0;
  font-size: 24px;
  color: #1f1c48;
  border-right: 1px solid #e8e8ec;
  height: 100%;
  margin-top: 0; }
  .groups:last-child {
    margin-right: 0; }
  .groups:last-child {
    border-right: none; }
  .groups .loading {
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/static/images/glyphicons-82-refresh.svg");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-animation-name: spin;
    -moz-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-origin: 24px 24px;
    -moz-transform-origin: 24px 24px;
    -ms-transform-origin: 24px 24px;
    -o-transform-origin: 24px 24px;
    transform-origin: 24px 24px; }
  .groups > li {
    color: #1f1c48;
    border-bottom: 1px solid #e8e8ec;
    background-color: #e8e8ec;
    padding: 6px; }
    .groups > li:last-child {
      border-bottom: none; }
    .groups > li .group-name {
      font-weight: bold; }
  .groups button {
    background: none;
    border: 1px solid #e8e8ec;
    box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding: 6px;
    margin-left: -6px; }
    .groups button:hover {
      box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.2); }
    .groups button:active {
      box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1); }
  .groups .group-editor button {
    background: none;
    border: 1px solid #e8e8ec;
    box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding: 6px;
    margin-left: 6px;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    background-image: url("/static/images/glyphicons-207-ok-2.svg");
    background-repeat: no-repeat;
    background-size: contain; }
    .groups .group-editor button:hover {
      box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.2); }
    .groups .group-editor button:active {
      box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1); }
  .groups .group-editor input {
    font-size: 22px; }
  .groups .group-editor div {
    padding: 6px;
    margin-bottom: 18px;
    background-color: #f28c8d;
    border: 1px solid #520a0c;
    font-weight: bold;
    text-align: center;
    color: #520a0c; }
  .groups .group-editor input {
    max-width: 190px; }

.boards {
  list-style-type: none;
  padding: 0;
  background-color: white;
  margin-left: -6px;
  margin-right: -6px;
  margin-top: 6px; }
  .boards > li {
    color: #1f1c48;
    border-bottom: 1px solid #e8e8ec;
    padding: 6px 6px 6px 18px;
    font-size: 22px; }
    .boards > li:last-child {
      border-bottom: none; }
  .boards a {
    color: #1f1c48;
    text-decoration: none; }
  .boards a:visited {
    color: #1f1c48; }
  .boards .board-editor button {
    background: none;
    border: 1px solid #e8e8ec;
    box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding: 6px;
    margin-left: 6px;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    background-image: url("/static/images/glyphicons-207-ok-2.svg");
    background-repeat: no-repeat;
    background-size: contain; }
    .boards .board-editor button:hover {
      box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.2); }
    .boards .board-editor button:active {
      box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1); }
  .boards .board-editor input {
    font-size: 22px; }
  .boards .board-editor div {
    padding: 6px;
    margin-bottom: 18px;
    background-color: #f28c8d;
    border: 1px solid #520a0c;
    font-weight: bold;
    text-align: center;
    color: #520a0c; }
  .boards .board-editor input {
    max-width: 184px;
    margin-left: -6px; }

.board {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%;
  font-size: 24px; }
  .board:last-child {
    margin-right: 0; }
  .board .board-title {
    color: #37327f;
    margin-top: 4px;
    margin-bottom: 11px; }
  .board .loading {
    width: 64px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/static/images/glyphicons-82-refresh.svg");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-animation-name: spin;
    -moz-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-origin: 32px 32px;
    -moz-transform-origin: 32px 32px;
    -ms-transform-origin: 32px 32px;
    -o-transform-origin: 32px 32px;
    transform-origin: 32px 32px; }

.leaderboard {
  display: block;
  float: left;
  margin-right: 3.16844%;
  width: 88.53684%;
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 32px;
  margin-top: 0;
  box-shadow: 2px 2px 4px 2px rgba(70, 70, 70, 0.3);
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #fffefe));
  background-image: -webkit-linear-gradient(20deg to left, white, #fffefe);
  background-image: linear-gradient(to ,white, #fffefe); }
  .leaderboard:last-child {
    margin-right: 0; }
  .leaderboard .store-teaser {
    padding: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    color: #86869b;
    text-align: center; }

.stores {
  display: block;
  float: left;
  margin-right: 3.16844%;
  width: 88.53684%;
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 32px;
  margin-top: 0;
  box-shadow: 2px 2px 4px 2px rgba(70, 70, 70, 0.3);
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #fffefe));
  background-image: -webkit-linear-gradient(20deg to left, white, #fffefe);
  background-image: linear-gradient(to ,white, #fffefe); }
  .stores:last-child {
    margin-right: 0; }

.add-store {
  background: none;
  border: 1px solid #e8e8ec;
  box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1);
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  padding: 6px; }
  .add-store:hover {
    box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.2); }
  .add-store:active {
    box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1); }

.store {
  display: block;
  float: left;
  margin-right: 3.16844%;
  width: 100%;
  color: #1f1c48;
  border-bottom: 1px solid #e8e8ec;
  padding: 6px; }
  .store:last-child {
    margin-right: 0; }
  .store:last-child {
    border-bottom: none; }
  .store .store-name {
    display: block;
    float: left;
    margin-right: 3.16844%;
    width: 31.22104%;
    font-size: 22px; }
    .store .store-name:last-child {
      margin-right: 0; }
  .store .rating-graph {
    display: block;
    float: left;
    margin-right: 3.16844%;
    width: 31.22104%; }
    .store .rating-graph:last-child {
      margin-right: 0; }
    .store .rating-graph:before {
      content: "Rating graph here"; }
  .store .rating {
    display: block;
    float: left;
    margin-right: 3.16844%;
    width: 8.29472%;
    font-size: 32px; }
    .store .rating:last-child {
      margin-right: 0; }
    .store .rating:empty:before {
      content: "--"; }
  .store .rating-option {
    display: block;
    float: left;
    margin-right: 3.16844%;
    width: 8.29472%;
    margin-right: 0;
    background: none;
    border: 1px solid #e8e8ec;
    box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding: 6px;
    font-size: 32px;
    line-height: 32px; }
    .store .rating-option:last-child {
      margin-right: 0; }
    .store .rating-option:hover {
      box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.2); }
    .store .rating-option:active {
      box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1); }
  .store .store-editor button {
    background: none;
    border: 1px solid #e8e8ec;
    box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding: 6px;
    margin-left: 6px;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    background-image: url("/static/images/glyphicons-207-ok-2.svg");
    background-repeat: no-repeat;
    background-size: contain; }
    .store .store-editor button:hover {
      box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.2); }
    .store .store-editor button:active {
      box-shadow: inset -3px -3px 12px 0 rgba(200, 200, 200, 0.1); }
  .store .store-editor input {
    font-size: 22px; }
  .store .store-editor div {
    padding: 6px;
    margin-bottom: 18px;
    background-color: #f28c8d;
    border: 1px solid #520a0c;
    font-weight: bold;
    text-align: center;
    color: #520a0c; }
